.oe-full-header {
	.oes-summary {
		position: relative;
		padding-inline-start: 10px;
		&::before {
			content: "";
			position: absolute;
			top:0;
			bottom:0;
			left:-8px;
			width:16px;
			background: left center / contain var(--i-chart) no-repeat;
			opacity: 0.5;
		}
	}
}