@use "openeyes/var" as *;
@use "openeyes/mix" as *;
@use "sass:math";

.profile-context {
	@include font-size(13);
	font-weight: var(--font-medium);
	padding:0 0 8px 0;

	.row {
		margin: 0 0 5px 0;
	}

	.oe-xsys-panel & {
		@include font-size(12);
		padding: 10px;
		.row {
			display: flex;
			margin: 0 0 3px 0;

			.label {
				width: 70px;
			}
		}
	}

	a {
		display: inline-block;
		margin-inline-start: 10px;
		@include font-size(9);
		font-weight: var(--font-bold);
		color: var(--txt-active);
	}

	.label {
		line-height: 1.1;
		@include font-size(9);
		font-weight: var(--font-light);
		color: var(--txt-light);
	}
}

.profile-action {
	padding-block-start: 20px;
	@include flex( center, center );

}


.oe-profile-panel {
	display: none; // js controlled
	z-index: $oe-z-logo;

	background: var(--bg-html);

	position: fixed;
	top: $oe-header-height - 5px;
	right: 5px;
	width: $oe-hotlist-panel-width;

	overflow-y: auto;
	max-height: calc(100svh - #{$oe-header-height});

	padding: 20px;

	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

	h2 {
		@include font-size(13);
		font-weight: var(--font-bold);
		line-height:1.1;
		color: var(--txt-light);
		margin: 0 0 10px 0;
	}
}






