@use "openeyes/var" as *;
@use "openeyes/mix" as *;

.oe-hub {
	grid-area: main;
	background: var(--bg-title);

	// layout the contents in a subgrid
	height: calc( 100vh - #{$oe-header-height + ($oe-event-header-height * 2)});

	display: grid;
	grid: auto-flow 1fr / repeat(3, minmax(400px,1fr));
	gap: 10px;
	padding: 10px;

	overflow-y: auto;
}

